name: Download translated strings from Crowdin

on:
  workflow_dispatch:  # This can be triggered from the Github Action tab on the website

jobs:
  Translations:
    name: Download translated strings from Crowdin
    strategy:
      matrix:
        branch: ['pr/githubactions-2'] #['master', 'release-1.2']
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ matrix.branch }}
      - name: 'Pull translations from Crowdin'
        uses: crowdin/github-action@v2
        with:
          upload_sources: false
          upload_translations: false
          download_translations: true
          crowdin_branch_name: ${{ matrix.branch }}
          localization_branch_name: l10n_${{ matrix.branch }}
        env:
          CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
      - name: 'Compute changes'
        id: compute-changes
        shell: bash
        run: |
          git status
          nb=$(git diff -I'POT-Creation-Date: [0-9:+-]*' -I'PO-Revision-Date: [0-9:+-]*' -- po/ | wc -l)
          echo "Number of translatable lines changed: $nb"
          if [ $nb -gt 0 ]; then
            echo "update-translation=true" >> "$GITHUB_OUTPUT"
          fi
      - name: 'Install dependencies for updating local .pot file'
        if: steps.compute-changes.outputs.update-translations == 'true'
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get install -y gettext
          # Download the last .its/loc files for gettext - Cheaper than installing all of gtk + dependencies
          sudo wget https://raw.githubusercontent.com/GNOME/gtk/gtk-3-24/gtk/gtkbuilder.{its,loc} -P /usr/share/gettext/its/
      - name: 'Update translation template'
        if: steps.compute-changes.outputs.update-translations == 'true'
        shell: bash
        run: |
          mkdir build
          cd build
          cmake .. -DONLY_CONFIGURE_FOR_TARGET_POT=on
          cmake --build . --target pot

          #
          # create_pull_request: true
          # pull_request_title: 'New Translations for ${{ github.ref_name }}'
          # pull_request_body: 'New translations. When merging this PR, use "Squash and Merge"'
          # pull_request_base_branch_name: ${{ github.ref_name }}
